<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- STYLE -->
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
      
            <header>
                <div class="logo-box">
                    <img src="img/boolean-logo.png" alt="logo boolean">
                </div>
                <div class="new-task">
                    <label for="task-text">Nuovo Task</label>
                    <input type="text" id="task-text" placeholder="inserisci nuovo task" v-model.trim="newTask" @keyup.enter="addNewTask">
                    <button @click="addNewTask">Inserisci</button>
                    <div class="error" v-if="hasError">
                        <small>Il task deve essere lungo almeno di 5 caratteri</small>
                    </div>
                </div>
            </header>

                <div class="task-container">
                    <p v-if="tasks.length === 0">Per oggi hai finito! :D</p>
                    <ul v-else>
                        <li v-for="(task, index) in tasks">
                            {{ task }} 
                            <span class="task-delete" @click="removeTask(index)">&cross;</span>
                        </li>
                    </ul>
                </div>
        
    </div>

    <script src="js/script.js"></script>
</body>
</html>